RewriteEngine On

# Permitir acesso direto aos arquivos existentes
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Redirecionar tudo para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L] 